@CHARSET "UTF-8";

header{
	margin: 0 auto;
	width: 1330px;
	overflow: hidden;
}

.head-title{
	position: relative;
	left: 30px;
	bottom: 45px;
	font-size: 60px;
	font-family: serif,sans-serif,cursive,fantasy,monospace;
}

.head-list{
	float: right;
}

.head-list > ul > li{
	color: #777777;
	list-style: none;
	float: left;
	font-size: 25px;
	margin: 0px 10px;
}

.head-list > ul > li > a{
	color: #777777;
	font-family: serif,sans-serif,cursive,fantasy,monospace;
	text-decoration: none;
}

.head-list > ul > li > a:hover{
	text-decoration: underline;
}

.menu{
	background-color: #3136C6;
	overflow: hidden;
}

.menu > ul{
	overflow: hidden;
}

.menu > ul > li{
	list-style: none;
	float: left;
	font-size: 25px;
	margin: 0px 65px;
	color: #FFFFFF;
}

.menu > ul > li > a{
	color: #FFFFFF;
	font-family: serif,sans-serif,cursive,fantasy,monospace;
	text-decoration: none;
	
}

.menu > ul > li > a:hover{
	text-decoration: underline;
}

.avatar-size > img{
	position: relative;
	bottom: 15px;
	width: 60px;
	height: 60px;
}

.login-title{
	display: none;
}
