<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"      
 "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">

<mapper namespace="tw.tedu.stock.mapper.AddressMapper">
	
	<!-- 增加新的地址 -->
	<!-- Integer addnew(Address address) -->
	<insert id="addnew" parameterType="tw.tedu.stock.entity.Address" useGeneratedKeys="true" keyProperty="id">
		INSERT INTO t_address(
			uid, name, zip, address,
			phone, tel, tag, is_default,
			created_user, created_time,
			modified_user, modified_time
		)VALUES(
			#{uid}, #{name}, #{zip}, #{address},
			#{phone}, #{tel}, #{tag}, #{isDefault},
			#{createdUser}, #{createdTime},
			#{modifiedUser}, #{modifiedTime}
		)
	</insert>
	
	<!-- 將用戶的所有地址設為非默認 -->
	<!-- Integer updateNoDefault(Integer uid) -->
	<update id="updateNoDefault">
		UPDATE
			t_address
		SET
			is_default=0
		WHERE
			uid=#{uid}
	</update>
	
	<!-- 將指定id的地址設為默認 -->
	<!-- Integer updateDefault(Integer id) -->
	<update id="updateDefault">
		UPDATE
			t_address
		SET
			is_default=1
		WHERE
			id=#{id}
	</update>
	
	<!-- 根據用戶id獲取該用戶的地址數據的數量 -->
	<!-- Integer getCountByUid(Integer uid) -->
	<select id="getCountByUid" resultType="java.lang.Integer">
		SELECT
			count(id)
		FROM
			t_address
		WHERE
			uid=#{uid}
	</select>
	
	<!-- 獲取某用戶的地址列表 -->
	<!-- List<Address> findByUid(Integer uid) -->
	<select id="findByUid" resultType="tw.tedu.stock.entity.Address">
		SELECT
			id, name, phone,
			address, tag,
			is_default isDefault
		FROM
			t_address
		WHERE
			uid=#{uid}
		ORDER BY
			is_default DESC,
			modified_time DESC
	</select>
	
	<!-- 根據id查詢數據地址 -->
	<!-- Address findById(Integer id) -->
	<select id="findById" resultType="tw.tedu.stock.entity.Address">
		SELECT
			uid, name, phone,
			address, tag,
			is_default isDefault
		FROM
			t_address
		WHERE
			id=#{id}
	</select>
	
	<!-- 根據用戶id查詢最後修改的地址數據 -->
	<!-- Address findLastModified(Integer uid) -->
	<select id="findLastModified" resultType="tw.tedu.stock.entity.Address">
		SELECT
			id
		FROM
			t_address
		WHERE
			uid=#{uid}
		ORDER BY
			modified_time DESC
		LIMIT
			0,1
	</select>
	
	<!-- 根據id刪除地址數據 -->
	<!-- Integer deleteById(Integer id) -->
	<delete id="deleteById">
		DELETE FROM
			t_address
		WHERE
			id=#{id}
	</delete>
	
</mapper>
